# Enviroment variables needed to connect to the LiveKit server.
LIVEKIT_API_KEY=<your_api_key>
LIVEKIT_API_SECRET=<your_api_secret>
LIVEKIT_URL=wss://<project-subdomain>.livekit.cloud


# Internally used environment variables
NEXT_PUBLIC_APP_CONFIG_ENDPOINT=
SANDBOX_ID=
NEXT_PUBLIC_CONN_DETAILS_ENDPOINT=/api/connection-details

# If you run a worker with WorkerOptions.agent_name set,
# set this to target that specific agent.
NEXT_PUBLIC_AGENT_NAME=
